{% extends '/back_office/property/property_base.html.twig' %}

{% block page_title %} {{ parent() }} Activity{% endblock page_title %}

{% block property_content_title %} Activity {% endblock property_content_title %}

{% block msg_for_user %}
    <p>
        Probable commission on {{ property.name }} is ${{property.commissionAmount}}. To increase the probability you get
        this listing, we are communicating with the owner at least every two weeks on your behalf. We will make you look
        great because you are great.
    </p>
{% endblock msg_for_user %}

{% block property_content %}
    {% for activity in property.activities %}
        <li> # {{ activity.id }}
            {% if activity is  isInstanceOf('CelebrityAgent\\Entity\\Activity\\NoteActivity') %}
                <i class="fa fa-comment" aria-hidden="true"></i> Note  with  {{ activity.text }} created {{  activity.created|date('F d, Y') }} by {{ activity.owner.firstName }}
                <a href="{{ path('backoffice_note_manage', {'id':activity.id} ) }}">
                    <button class="btn btn-light"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                </a>
            {% endif %}
            {% if activity is  isInstanceOf('CelebrityAgent\\Entity\\Activity\\EmailActivity') %}
                <i class="fa fa-envelope" aria-hidden="true"></i>  Email  with  {{ activity.text }}  created {{  activity.created|date('F d, Y') }} by {{ activity.owner.firstName }}
                <a href="{{ path('backoffice_email_manage', {'id':activity.id} ) }}">
                    <button class="btn btn-light"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                </a>
            {% endif %}
            {% if activity is  isInstanceOf('CelebrityAgent\\Entity\\Activity\\SmsActivity') %}
                <i class="fa fa-comments" aria-hidden="true"></i> Sms  with  {{ activity.text }}
                created {{  activity.created|date('F d, Y') }} by {{ activity.owner.firstName }}
                <a href="{{ path('backoffice_sms_manage', {'id':activity.id} ) }}">
                    <button class="btn btn-light"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                </a>
            {% endif %}
            {% if activity is  isInstanceOf('CelebrityAgent\\Entity\\Activity\\CallActivity') %}
                <i class="fa fa-phone" aria-hidden="true"></i> Call  with  {{ activity.text }}
                created {{  activity.created|date('F d, Y') }} by {{ activity.owner.firstName }}
                <a href="{{ path('backoffice_call_manage', {'id':activity.id} ) }}">
                    <button class="btn btn-light"><i class="fa fa-edit" aria-hidden="true"></i> Edit</button>
                </a>
            {% endif %}
        </li>
    {% endfor %}
{% endblock property_content %}