{% extends '/back_office/property/property_base.html.twig' %}

{% block page_title %} {{ parent() }} Activity{% endblock page_title %}

{% block property_content_title %} Activity {% endblock property_content_title %}

{% block msg_for_user %}
    <p>
        Probable commission on {{ property.name }} is ${{property.commissionAmount}}. To increase the probability you get
        this listing, we are communicating with the owner at least every two weeks on your behalf. We will make you look
        great because you are great.
    </p>
{% endblock msg_for_user %}

{% block property_content %}

{% endblock property_content %}

{#{% block stylesheets %}#}
{#     {{ parent() }}#}
{#     {{ encore_entry_link_tags('property') }}#}
{#{% endblock stylesheets %}#}

{#{% block javascripts %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_script_tags('property') }}#}
{#{% endblock javascripts %}#}